body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  position: fixed;
  top: 30px;
  width: max-content;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px;
  z-index: 9999; /* Ensure it's above other elements */
}

.navbar button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid transparent;
}

.navbar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar button.active {
  border-bottom-color: white;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
}

.input-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 4px;
}

.message-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.message-container button:hover {
  background-color: #0056b3;
}

.clipboard {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
